.row {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-around;
}

app-movie {
    width : 20%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.movie-list {
    display: flex;
    flex-direction: column;
    background-color: #292727;
}